form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.events-container {
  margin-top: 20px;
}

.events-container ul {
  list-style-type: none;
  padding: 0;
}

.events-container li {
  margin-bottom: 10px;
}

.events-container a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

events-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}
